body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-bpmn-diagram-container {
  height: 100vh;
}

.react-bpmn-diagram-container a,
.react-bpmn-diagram-container ul {
  display: none;
}

.react-bpmn-diagram-container svg > .viewport {
  transform: scale(1, 1);
}
